/* General styles */
* {
    border: 1px solid orange;
}

.container {
    width: 100%;
    overflow: hidden;
}

/* Form styles */

.btn {
    background-color: steelblue;
    color: white;
}

/* Contact display styles */

div.add-contact {
    display: inline-block;
    min-width: 280px;
    width: 40%;
}

div.display-contact {
    display: inline-block;
    min-width: 280px;
    width: 40%;
    vertical-align: top;
}

div.contacts {

}

ul.contact-list {
    list-style: none;
}

ul.contact-info {
    list-style: none;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}
